ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*--HEADER-----------------------------*/

.header-logo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: var(--main);
  margin-left: 65px;
  margin-right: 203px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 203px;
}

.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.navigation-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  /* line-height: 18px; */
  line-height: 1.29;
  text-align: center;
  color: var(--main);
}

.navigation-item {
}

.sicial-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
}
