ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Gilroy", sans-serif;
  --main: #0c0c0c;
  --color: var(--accent);
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
}

.body {
  max-width: 1150px;
}

/*
	--main: #0c0c0c;
	--accent: #3350e9;
	--background: #fbfbfb;
	--cards: #f3f3f3;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*--HEADER-----------------------------*/
.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-logo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: var(--main);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: row;
  padding: 26px 65px 26px 0;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 203px;
  max-width: 1150px;
}

.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.navigation-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--main);
}

.social-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
}
/*----------HERO-----------------------*/
.hero-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 80px 65px 0px;
  max-width: 1280px;
}

.text-photo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 407px;
  max-width: 1150px;
}
.hero-text-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  max-width: 597px;
}
.hero-text {
  max-width: 480px;
}

.hero-team {
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  gap: 189px;
  width: 140px;
  height: 60px;
}
.hero-photo {
  min-width: 1150px;
  margin-bottom: 100px;
}

.main-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 72px;
  margin-bottom: 20px;
  line-height: 0.87;
  letter-spacing: -0.02em;
  color: var(--main);
  max-width: 597px;
}

.accent {
  color: var(--accent);
}

/*-----ABOUT------------------------------*/
.section-about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  padding: 0px 65px;
  width: 1280px;
  height: 532px;
}

.about-sub-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-top: 80px;
  margin-left: 60px;
  margin-bottom: 40px;
}

.block-about-left {
  width: 580px;
  height: 532px;
  background: #f3f3f3;
  border-radius: 50px;
}
.text-about-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  max-width: 460px;
  height: 200px;
  margin-right: 60px;
  margin-left: 60px;
}

.text-about {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}

.about-button {
  width: 160px;
  height: 48px;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  margin-left: 60px;
  margin-bottom: 60px;
  margin-top: 40px;
}

.image-about {
  border-radius: 50px;
  width: 530px;
  height: 532px;
}
/*--CATALOG-----------------------------*/
.catalog-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 0px 65px;
  max-width: 1280px;
}

.catalog-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-top: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 23px;
  max-width: 1150px;
}

/*--CHOOSE-----------------------------*/

/*--FOOTER-----------------------------*/
