ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Gilroy", sans-serif;
  --main: #0c0c0c;
  --color: var(--accent);
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
}

/*
	--main: #0c0c0c;
	--accent: #3350e9;
	--background: #fbfbfb;
	--cards: #f3f3f3;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*--HEADER-----------------------------*/
.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-logo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: var(--main);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  padding: 32px 65px;
  margin-bottom: 80px;
}

.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.navigation-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--main);
}

.social-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
}

/*----------MAIN-----------------------*/
.main-section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 65px 80px;
  max-width: 1150px;
  flex-direction: start;
}

.main-team {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.main-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 72px;
  margin-bottom: 20px;
  line-height: 0.87;
  letter-spacing: -0.02em;
  color: var(--main);
  max-width: 597px;
}

.sub-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: var(--main);
}

.accent {
  color: var(--accent);
}

.hero-photo {
  border-radius: 50px;
  max-width: 1150px;
  height: auto;
  object-fit: cover;
  display: flex;
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 480px;
}
/*-----ABOUT------------------------------*/
.text-about {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.about-photo {
  max-width: 530px;
  height: auto;
}

.section-about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  padding: 0px 65px;
  max-width: 1280px;
  height: 532px;
}

/*--CATALOG-----------------------------*/

.catalog-section {
  max-width: 1150px;
  height: auto;
  display: flex;
}

.catalog-item {
  max-width: 292px;
  height: auto;
}

/*--CHOOSE-----------------------------*/
.choose-section {
  max-width: 1150px;
  height: auto;
  margin: 100px 65px;
  border-radius: 30px;
}

.sub-title-choose {
  max-width: 1150px;
  height: auto;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 92%;
  letter-spacing: -0.02em;
  color: var(--background);
  background-image: url(../img/BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 40px;
}

/*--FOOTER-----------------------------*/
